.selection
  padding 20px
  margin 20px
  border 1px dashed lightgray
  img
    display block
    width 100%
    max-width 350px
    margin auto
.selection-text
  display block !important
  text-align center !important
  font-size 20px !important
  padding 10px !important
  border-top 1px solid lightgray !important
