#home-content
    #home-body
        #wrapper
          include ../left-menu/left-menu.jade
          .container
            .row
              .col-sm-6
                a.selection(href="/articles-validated")
                  img(src='/boot/read.jpg', alt='Read')
                  .selection-text
                    span= t('category.articles-validated')
              .col-sm-6
                a.selection(href="/articles")
                  img(src='/boot/work.jpg', alt='Validate')
                  .selection-text
                    span= t('category.articles-to-validate')
