nav#sidebar
  .list-container(data-sidebar-list)
  a.btn.btn-primary.btn-lg.btn-block.create-first-topic(style='width: 80%;' type='button' href='/admin/topics/create')
    i.glyphicon.glyphicon-plus
    |  Nouvelle réflexion
