nav#sidebar
  .list-container(data-sidebar-list)
  a.btn.btn-primary.btn-lg.btn-block.create-first-topic(style='width: 90%;' type='button' href='/admin/topics/create')
    i.glyphicon.glyphicon-plus(style="margin-right: 5px;")
    span=t('admin-topics-form.button.add-clause')
